#Ignore thumbnails created by windows
[Tt]humbs.db

#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.patch
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.cs.ide
[Dd]ebug*/
[Rr]elease*/
bin/
obj/
.vs/
.vscode/
*.ReSharper
*.ReSharper.user
[Tt]est[Rr]esult*

#Ignore Rider/Idea files
.idea/

#Ignore npm modules
node_modules/

/Directory.Build.targets

