#Ignore thumbnails created by windows
[Tt]humbs.db

#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.patch
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.cs.ide
[Dd]ebug*/
[Rr]elease*/
bin/
obj/
.vs/
.vscode/
*.ReSharper
*.ReSharper.user
[Tt]est[Rr]esult*

#Ignore Rider/Idea files
.idea/

#Ignore npm modules
node_modules/

#Ignore Modules & Themes files
_build/
src/web/Macrostore.App/Themes/
src/web/Macrostore.App/Modules/
src/web/Macrostore.App/wwwroot/module/

#Ignore publish profiles
src/web/Macrostore.App/.config/
src/web/Macrostore.App/Properties/PublishProfiles/
src/web/Macrostore.App/Properties/ServiceDependencies/

/Directory.Build.targets

